/* line 4 */
html {
  height: 100%;
}

/* line 7 */
body {
  background-color: #39362f;
  height: 100%;
}
/* line 10 */
body .shell {
  box-shadow: 0px 3px 68px black;
  height: 100%;
  background-color: white;
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 1170px;
}
/* line 18 */
body .container {
  margin-left: auto !important;
  margin-right: auto !important;
}
/* line 21 */
body .container .header {
  position: relative;
  background: url("/images/header.png") no-repeat;
  height: 210px;
  box-shadow: 0px 3px 3px;
}
/* line 26 */
body .container .header .menu {
  cursor: pointer;
  margin: 168px 0 0 0px;
  background-color: #39362f;
  box-shadow: 0px 3px 3px;
}
/* line 31 */
body .container .header .menu a {
  color: #f5f1ba;
}
/* line 33 */
body .container .header .menu a:hover {
  color: #39362f;
  background-color: #f5f1ba;
}
/* line 40 */
body .container .header .quote {
  color: white;
  text-shadow: 1px 1px 1px black;
  padding-top: 30px;
}
/* line 45 */
body .container .header .logo {
  position: absolute;
  left: 20px;
  box-shadow: 0px 3px 3px black;
}
/* line 50 */
body .container .header h1 {
  color: #f5f1ba;
}
