$yellow: #F5F1BA;
$brown: #39362f;

html {
  height: 100%;
}
body {
  background-color: #39362f;
  color: #666666;
  height: 100%;
  .shell {
    box-shadow: 0px 3px 68px black;
    min-height: 100%;
    background-color: white;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 1170px;
    background-color: #FAFFDF;
   }
  .container {
    margin-left: auto !important;
    margin-right: auto !important;
    .header {
      position: relative;
      background: url('/images/header.png') no-repeat;
      height: 210px;
      box-shadow: 0px 3px 3px;
      .menu {
        cursor: pointer;
        margin: 168px 0 0 0px;
        background-color: $brown;
        box-shadow: 0px 3px 3px;
        padding-top: 4px;
        a {
          color: $yellow;
          &:hover {
            color: $brown;
            background-color: $yellow;
          }
        }
        
      }
      .quote {
        color: white;
        text-shadow: 1px 1px 1px black;
        padding-top: 30px;
      }
      .logo {
        position: absolute;
        left: 20px;
        box-shadow: 0px 3px 3px black;
      } //logo
      h1 {
        color: $yellow;
      } //h1
    } //header
    .content {
      background-color: white;
      padding: 18px;
      border-radius: 5px;
      margin: 20px;
      box-shadow: 0px 1px 1px grey;
      min-height: 400px;
    } //content
  } //container
  .homepage {
    .story {
      img {
        border: 1px solid grey; 
        border-radius: 5px;
      }
      background-color: #DBD7D7;
      padding: 18px;
      border-radius: 5px;
      margin: 20px;
      box-shadow: 0px 1px 1px grey;
      min-height: 160px;
        .arrow {
          position: absolute;
          left: 159px;
          top: 211px;
          box-shadow: 3px 3px 3px;
          .arrow_box {
            position: relative;
            background: $brown;
          }
          .arrow_box:after {
            left: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }
          .arrow_box:after {
            border-color: rgba(57, 54, 47, 0);
            border-left-color: $brown;
            border-width: 30px;
            top: 50%;
            margin-top: -30px;
          }
          .box {
            background: $brown;
          } // box
          .text {
            color: white;
            font-size: 1.4em;
            padding: 8px;
          }
        }
    } //story
  } //hompage

} //body
