.container {
  margin-left: auto !important;
  margin-right: auto !important;

  .header {
    background: url('/images/header.png') no-repeat;
    height: 210px;
    .menu {
      cursor: pointer;
      margin: 168px 0 0 0px;
      background-color: yellow;
    }
    .quote {
      color: white;
      text-shadow: 1px 1px 1px black;
      padding-top: 30px;
    }
  }
}
