- @layout = "header"
.container
  .row
    .col-md-12
      c2renew provides a performance driven biocomposite material that offers price stability to a volatile
      plastics market and a greener alternative.
      c2renew is a material designer and custom compounder who utilizes proprietary biocomposite 
      formulations to meet a wide range of engineering specifications.
      c2renew corporation designs biocomposite material compounds from agriculture byproducts along with 
      recycled or virgin plastics from petroleum or renewable resources.
      c2renew provides engineering services to its customers to help design, analyze, and develop plastic and 
      plastic composites parts for a wide variety of applications.
