- @layout = "header"
.container
  .row
    .col-md-12
      .content
        %h1 Contact
        c2renew corporation
        %br
        PO Box 253 
        %br
        Colfax, ND 58018 
        %p 
        %a{:href => 'mailto:info@c2renew.com'} info@c2renew.com


