.container
  .row
    .col-md-12
      .header
        .col-md-4.menu
          %ul.nav.nav-pills
            %li 
              %a 
                thing
            %li
              %a
                thing2
        .col-md-6.col-md-offset-2
          .quote
            %h1
              We turn agricultural waste 
              %br/
              into just about anything.
  .row.homepage
    .col-md-4.col1
    .col-md-4.col2
    .col-md-4.col3


