- @layout = "header"
.container
  .row.homepage
    .col-md-4.col1
      .story 
        .img
          <img src="images/cornstalks.jpg" class="img-responsive" />&nbsp;
          .arrow
            .arrow_box
              .text
                Agricultural Waste
        .inset
    .col-md-4.col2
      .story 
        .img
          <img src="images/final-biocomposite-homepage.jpg" class="img-responsive" />&nbsp;
          .arrow
            .arrow_box
              .text
                Injection Molding Pellets
        .inset

    .col-md-4.col3
      .story 
        .img
          <img src="images/tractor.jpg" class="img-responsive" />&nbsp;
          .arrow
            .box
              .text
                Super Strong Materials
        .inset



