- @layout = "header"
.container
  .row
    .col-md-12
      .content
        %h2 Why Biomass?
        .row
          .col-md-8
            %p
              Utilizing biomass fillers offer the benefits of reduced material cost while maintaining mechanical
              properties and providing a green alternative. Biomass fillers can reduce the cost of polymers by using
              low cost biomass in place of expensive base resins.
            %p
              Using our experience and formulation techniques,
              we are able to maintain or improve most mechanical properties while incorporating biomass fillers. 
              These formulations are more environmentally responsible since the petroleum feedstock can be
              replaced with agricultural byproducts which would otherwise be left to decay in the soil or sent to the
              landfill.
          .col-md-4
            <img src="images/final-biocomposite1.jpg" class="pull-right img-responsize img-thumbnail">
